select{
    padding:12px 18px;
    font-size:16px;
    border-radius:12px;
    border:1px solid rgba(255,255,255,0.3);
    margin-bottom:15px;
    background:rgba(0,0,0,0.6); /* fondo oscuro para que se vea */
    color:white; /* texto blanco */
    text-align:center;
    outline:none;
    width:80%;
    max-width:300px;
    transition:0.3s;
    appearance:none; /* quita flecha por defecto para personalizar si quieres */
}

select option{
    background:#1f1c4d; /* fondo de las opciones al desplegar */
    color:white; /* texto de las opciones */
}
select:focus{
    border-color:#8e2de2;
    box-shadow:0 0 10px rgba(142,45,226,0.5);
}